.hero-banner{
    background-image: url(/assets/Banner_image.png);
    height: 484px;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 64px;
}
.hero-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.hero-content > h1{
    color: var(--text-white);
    text-shadow: var(--text-shadow);
    font-size: clamp(32px, 4vw ,70px)
}
.hero-content > a{
    color: var(--text-white);
    background-color: black;
    border-radius: 32px;
    text-decoration: none;
    font-weight: 800;
    padding: 16px;
}


.home-testimonials{
    background-color: var(--yellow);
    padding: 8px;
    border-bottom: 1px solid black;



    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 35px;
}

.h-testimonial{
    display: flex;
    gap: 8px;
    background-color: black;
    border: 2px solid var(--red);
    color: var(--text-white);
    padding-right: 8px;
    align-items: center;
    border-radius: 05px;
}
.t-rating{
    align-self: stretch;
    display: flex;
    align-items: center;
    background-color: var(--yellow);
    color: var(--red);
    font-weight: 800;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 3px 16px 16px 3px;
}
.t-text{
    padding-top: 8px;
    padding-bottom: 8px;
}

.home-section{
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    text-align: center;
    > h1 {
        text-decoration: underline;
    }
}

.benefit-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    width: 90%;
    max-width: 600px;
}

.benefit-box.wide {
    grid-column: span 2;
}

.benefit-box {
    border: 2px solid var(--text-black);
    border-radius: 8px;
    padding: 16px;

    display: flex;
    flex-direction: column;
    gap: 8px;

> h2 {
    text-decoration: underline;
}
}

.yellow{
    background-color: var(--yellow);
    border-radius: 0px 0px 128px 128px;
}
.cream-bg{
    background-color: var(--cream);
}
.blue{
    background-color: var(--blue-light);
    border-radius: 128px 128px 0px 0px;
}

.bullet {
    border: 1px solid black;
    display: flex;
    align-items: center;
    border-radius: 50px 15px 15px 50px;
    max-height: 30px;

}

.bullet-nr {
    border-right: 2px solid black;
    width: 30px;
    height: 35px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 30px;
}

.bullet-text {
    padding-left: 10px;
    padding-right: 5px;
    text-wrap: nowrap;
}

.title {
    font-weight: bold;
    text-decoration: underline 2px;
    font-size: 20px;
}
.images {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.images h1 {
    max-width: 350px;
    padding-top: 15px;
}
.steps {
    display: flex;
    flex-direction: row;
}

.shadow{
        -webkit-box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.25); 
        box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.25);
}

.home-section > h3 {
    text-decoration: underline 2px;
}

.jeff-rock-img {
    max-width: 100%;
    filter: drop-shadow(5px 40px 41px #0000009c);
}
.rocks-gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 32px;
}

.rock-image {
    background-color: hsl(29, 33%, 88%);
    border: 0px solid #EADFD5;
    border-radius: 7px;

    /* max-width: 25%; */
    /* height: auto; */
    display: block;

}

.black {
    background-color: black;
    height: 35px;
    border: 0px solid black;
    border-radius: 0px 0px 5px 5px;

    display: flex;
    align-items: center;
    justify-content: center;
    
    > p {
        color: white;
        font-weight: bold;
        font-size: 15px;
    }
}

.main-footer {
    padding-top: 80px;
    padding-bottom: 90px;
    display: flex;
    flex-direction: column;

    align-items: center;
    background-color: var(--blue-light);

        > p{
        font-weight: bold;
        padding-bottom: 100px;
    }

    background-image: url(/assets/footer_bg.png);
    background-size: auto;
    background-repeat: no-repeat; 
    background-position: center;
}

.footer {
    border-radius: 7px;
    padding: 20px;
    background: rgba(0,0,0,0.6);
    backdrop-filter: blur(10px);

    display: flex;
    gap: 20px;

    width: clamp(200px, 80vw, 1000px)
}

.links {
    > h3 {
        border-bottom: 2px solid var(--yellow);
        color: var(--yellow);
        padding: 5px;
    }
    > p {
        color: white;
        padding: 5px;
    }
}

.socials {
    > h3 {
        border-bottom: 2px solid var(--yellow);
        color: var(--yellow);
        padding: 5px;
    }
    > p {
        color: white;
        padding: 5px;
    }
}

.stay-in-touch {
    margin-left: auto;
    
    > h3 {
        border-bottom: 2px solid var(--yellow);
        color: var(--yellow);
        padding: 5px;
        text-align: center;
    }
    > p {
        color: white;
        padding: 5px;
        text-align: center;
    }
}

.newsletter {
    color: var(--yellow);
    font-weight: bold;
}

.form-footer {
  display: flex;
  gap: 10px;
}

.subscribe {
  font-weight: bold;
  margin-left: auto;
  background-color: var(--yellow);
  border: 2px solid var(--yellow);
  border-radius: 50px;
  

}

.email {
color: white;

    padding: 4px;
    padding-left: 10px;
    background-color: rgba(0,0,0,0);
    flex: clamp(100px, 80vw, 350px);

    border: 2px solid var(--yellow);
    border-radius: 50px;
}

.email::placeholder {
    color: white;
}

.copyright {
    display: flex;
    justify-content: center;
    width: clamp(200px, 80vw, 1000px);
    border-radius: 7px;

    font-size: 12px;
    color: grey;
    padding: 5px;
    background: rgba(0,0,0,0.7);
    backdrop-filter: blur(15px);
}

@media (max-width: 800px) {
    .images {
        flex-direction: column;
    }

}
