.hero-banner {
    background-image: url(/assets/Banner_image.png);
    height: 500px;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 64px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-content > h1 {
    color: var(--text-white);
    text-shadow: var(--text-shadow);
    font-size: clamp(32px, 4vw, 70px);
}

.hero-content > a {
    background-color: black;
    padding: 16px;
    border-radius: 32px;
    text-decoration: none;
    color: var(--text-white);
    font-weight: 800;
}